body{
	margin:0;
	font-family:'Microsoft Yahei',Arial;
}

h1{
	margin:20px;
}

#loadingMask{
	z-index:200;
	position:absolute;
	left:0;
	top:0;
	background:#ffffff;
	width:100%;
	height:100%;
}

#progressWrap{
	height:66px;
	width:216px;
	padding-left:84px;
	left:50%;
	margin-left:-150px;
	background:url(./image/loading_wrap.png);
	position:absolute;
	top:200px;
}

#progress{
	-webkit-transition:width .5s linear;
	background:url(./image/loading.png);
	height:54px;
	width:0;
}

#progressValue{
	position:absolute;
	top:270px;
	left:0;
	text-align:center;
	width:100%;
	height:30px;
	font-size:30px;
	color:#999999;
}

#topbar{
    width:1000px;
    margin:20px auto;
}

.small-blue-button{
    display:inline-block;
    width:67px;
    height:26px;
    line-height:26px;
    text-align:center;
    color:#ffffff;
    font-size:12px;
    border-radius:2px;
    border:1px solid #289ad9;
    background:-webkit-linear-gradient(top,#3dbbeb,#2baadd);
    text-decoration:none;
}
.small-blue-button:hover{
    background:-webkit-linear-gradient(top,#5dc7ee,#2baadd)
}
.small-blue-button:active{
    background:-webkit-linear-gradient(top,#2babdc,#5dc7ee)
}

#shareBtn{
    width:174px;
    height:32px;
    float:right;
    cursor:pointer;
}

#stateWrap{
	width:1000px;
	height:400px;
	background:#333333;
	border-radius:10px 10px 0 0;
	box-shadow:0 0 10px rgba(0,0,0,.4);
	margin:20px auto;
	overflow:hidden;
	position:relative;
	background:url(./image/bg.jpg);
}

#state{
	width:1000px;
	height:400px;
	overflow:hidden;
}

#paybarWrap{
    position:absolute;
    width:128px;
    height:400px;
    right:-126px;
    top:0;
    -webkit-transition: right .3s linear;
    background-image: url(./image/paybar_wrap.png);
    box-shadow:-2px 0 7px rgba(100,100,100,.3);
}
#paybarWrap:hover{
    right:-1px !important;
}

#unfoldBtn{
    width:22px;
    height:32px;
    position:absolute;
    left:-21px;
    top:70px;
    background-image: url(./image/unfold_btn.png);
    box-shadow:-2px 2px 6px rgba(100,100,100,.4),
               -2px -2px 6px rgba(100,100,100,.4);
}

#paybar{
    width:83px;
    height:320px;
    top:55px;
    position: absolute;
    padding: 0 22px;
    background-color:rgb(210,94,0);
    overflow: auto;
}

#paybar .item{
    width:84px;
    height:84px;
    float:left;
    border-image:url(./image/item_border.png) 0 0 3 0;
}

#paybar .iconWrap{
    width:54px;
    height:54px;
    margin:12px;
    background-color: rgb(240,240,240);
    border: 3px solid rgb(99,45,0);
    border-radius: 10px;
    cursor:pointer;
}

#paybar .iconWrap:hover{
    border-color:#2BAADD;
}

.icon{
    float:left;
    width:40px;
    height:35.6px;
    background:url(./image/icons.png);
    opacity: 0;
    -webkit-transition:opacity 1s ease-in-out;
    z-index: 1;
}

#paybar .icon{
    margin:8px 7px;
}

#paybar .money{
    background-image: url(./image/money_icon.png);
    width: 25px;
    height:15px;
    margin:-20px 0 0 -10px;
    float:left;
}

#allpay{
    background: url(./image/all_payed.png);
    width: 125px;
    height: 183px;
    position: absolute;
    left: -2px;
    top: 50px;
    display:none;
}

#grass{
	position:absolute;
	bottom:0;
	height:55px;
	width:1000px;
	z-index:100;
	left:0;
	background:url(./image/grass.png) no-repeat;
}

#soundbar{
	width:1000px;
	height:35px;
	margin:20px auto 10px auto;
}

#soundbar .icon{
    cursor:pointer;
    margin-right: 10px;
}

@-webkit-keyframes fadeOutUp{
	0%{
		opacity: 1;
		-webkit-transform:  translateY(0px);
	}

	100%{
		opacity: 0;
		-webkit-transform:  translateY(-50px);
		height:0;
	}
}

@-webkit-keyframes fadeInUp{
	0%{
		opacity: 0;
		-webkit-transform: translate(30px);
		width:0;
	}

	17%{
		opacity: 0;
		-webkit-transform: translateY(30px);
		width:0;
	}

	100%{
		opacity: 1;
		-webkit-transform: translateY(0);
		width:40px;
	}
}

#mask{
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    background: rgba(0, 0, 0, .2);

}

.musicElement{
    height:125px;
    width:150px;
    position:absolute;
    left:1000px;
    -webkit-transition:left .5s linear,
    bottom .5s cubic-bezier(.5,-.5,1,1),
    opacity .5s linear;
}
/*#state:nth-child(1) .bird{*/
    /*-webkit-transform:none !important;*/
/*}*/
.musicElement:last-child .bird{
    -webkit-transform:scale(-1,1);
}

.disable{
    opacity:.55;
}

.mirror{
    -webkit-transform:scale(-1,1);
}

.remove{
    bottom:-150px !important;
    -webkit-animation:hit .3s 1;
    background-repeat:no-repeat;
    background-position:13px 0;
}

@-webkit-keyframes hit{
	0%{
		background-image:url(./image/shadow.png);
	}
	99%{
		background-image:url(./image/shadow.png);
	}
	100%{
		background-image:none;
	}
}

.bubble{
    display:block;
	width:40px;
	height:37px;
	border:1px solid #999;
	border-radius:5px;
	background:#fff;
	position:absolute;
	top:-37px;
	padding:5px;
}

.disable .bubble{
    display:none;
}

.bubble .icon{
    position: relative;
}

.bubbleArrow{
	-webkit-transform:rotate(45deg);
	position:absolute;
	bottom:-8px;
	left:17px;
	background:#fff;
	width:16px;
	height:16px;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
}

.bird{
    height:125px;
    width:150px;
    -webkit-animation:birdmove .5s infinite step-start;
}

@-webkit-keyframes birdmove{
	0%{
		background-position:0 0;
	}
	25%{
		background-position:-150px 0;
	}
	50%{
		background-position:-300px 0;
	}
	75%{
		background-position:-450px 0;
	}
}

.disable .bird{
	-webkit-animation:none !important;
	background-image:url(./image/bird_disabled.png);
}

.bird1{
	background-image:url(./image/bird_01.png);
}
.bird2{
	background-image:url(./image/bird_02.png);
}
.bird3{
	background-image:url(./image/bird_03.png);
}
.bird4{
	background-image:url(./image/bird_04.png);
}
.bird5{
	background-image:url(./image/bird_05.png);
}
.bird6{
	background-image:url(./image/bird_06.png);
}
.bird7{
	background-image:url(./image/bird_07.png);
}
.bird8{
	background-image:url(./image/bird_08.png);
}

.note{
	width:40px;
	height:40px;
	background-image:url(./image/note.png);
	position:absolute;
}
.note1{
	background-position: 0 0;
}
.note2{
	background-position:-40px 0;
}
.note3{
	background-position:-80px 0;
}
.note4{
	background-position:-120px 0;
}
.note5{
	background-position:-160px 0;
}
.note6{
	background-position:-200px 0;
	width:50px;
}

@-webkit-keyframes roll{
	40%{
		-webkit-transform:rotate(0);
	}
	60%{
		-webkit-transform:rotate(-5deg);
	}
	80%{
		-webkit-transform:rotate(5deg);
	}
	100%{
		-webkit-transform:rotate(0);
	}
}

@-webkit-keyframes fly1{
	0%{
		opacity:0;
		bottom:130px;
	}
	5%{
		opacity:1;
		bottom:130px;
	}
	70%{
		bottom:300px;
	}
	95%{
		opacity:1;
	}
	100%{
		opacity:0;
		bottom:300px;
	}
}

@-webkit-keyframes fly2{
	0%{
		opacity:0;
		bottom:120px;
	}
	5%{
		opacity:1;
		bottom:120px;
	}
	70%{
		bottom:330px;
	}
	95%{
		opacity:1;
	}
	100%{
		opacity:0;
		bottom:330px;
	}
}

@-webkit-keyframes fly3{
	0%{
		opacity:0;
		bottom:110px;
	}
	5%{
		opacity:1;
		bottom:110px;
	}
	70%{
		bottom:300px;
	}
	95%{
		opacity:1;
	}
	100%{
		opacity:0;
		bottom:300px;
	}
}

.optPannel{
    display:none;
    position:absolute;
    left:20px;
    bottom:40px;
    width:92px;
    height:30px;
    background-color:rgba(0, 0, 0, 0.3);
    border-radius:4px;
}

.musicElement:hover .optPannel{
    display:block;
}

.disable .optPannel{
    display:none !important;
}

.optBtn{
    display:block;
    width:24px;
    height:24px;
    float:left;
    margin:2px 0 3px 5px;
    border-radius:4px;
}

#mute{
    background:url(image/mute.png) -3px -0px no-repeat;
}

.mute .bird{
    -webkit-animation:none !important;
    background-position: -450px 0;
}

.mute #mute{
    background:url(image/mute2.png) -3px -0px no-repeat;
}

#solo{
    background:url(image/solo.png) no-repeat;
}

.solo #solo{
    background:url(image/solo2.png) no-repeat;
}

#remove{
    background:url(image/remove.png) no-repeat;
}

#mute:hover, #solo:hover, #stop:hover{
    background-color:rgba(0,0,0,.3);
}
/** start msgbox样式 **/
.msgbox{
        -webkit-transition:all 0.2s ease-in;
        position:absolute;
        top:0;
        display:none;
        width:379px;
        height:219px;
        left:280px;
        top:80px;
        background:url(image/msgboxbg.png) no-repeat;
}
.close{
        float:right;
        margin:8px 9px 0 0;
        opacity:.4;
        border-radius:20px;
        -webkit-transition:all 0.4s ease-in;
}
.close:hover{
        -webkit-box-shadow:0px 0px 5px  red;
        opacity:1;
}
.msgbox .msg{
        margin:70px auto;
        width:260px;
        font-size:18px;
        font-weight:bold;
        color:#df6400;
        line-height:35px;
        text-align:center;
}
.msgbox .button{
        height:22px;
        line-height:22px;
        cursor:pointer;
        padding:4px;
        width:50px;
        font-weight:normal;
        color:#fff;
        display:inline-block;
        margin:6px;
        font-size:14px;
        background:-webkit-gradient(linear,left top,left bottom,from(#efbc7f),to(#c05400));
        border-radius:10px;
        -webkit-transition:all 0.2s ease-in;
}
.msgbox .button:hover{
        -webkit-box-shadow:0 0 6px #df6400;
}
.share{
        float:right;
}
